@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Josefin+Sans:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #08CCAE;
    font-size: 1rem;
    transition: 0.4s;
}

a:hover {
    color: #ffa500;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 	100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.btn-acao {
    background-color: #ffa500;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.btn-acao:hover {
    scale: 1.05;
    color: #fff;
}

.btn-acao:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown-menu {
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    background-color: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 180px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .btn-acao {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* SECÕES */
section {
    background-size: cover;
    background-position: center;
    height: calc(101vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* tirando o tamanho da navbar */
section#inicio {
    /* background: url(); */
    background-color: #bebebc;
    height: calc(100vh - 60px);
}

section#sobre {
    background-color: #949393;
}

section#contato {
    background-color: #6e6e6e;
    height: calc(100vh - 120px);
}

/* FOOTER */
footer {
    background: #3f3f3f;
    width: 100%;
    height: 120px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RESPONSIVIDADE */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .btn-acao {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}